.footer {
    padding: 30px 4%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center; 
}

.footer-icons {
    display: flex;
    justify-content: center; 
    gap: 20px;
    margin: 40px 0;
}

.footer-icons img {
    width: 30px;
    cursor: pointer;
}

.copyright-text {
    color: gray;
    font-size: 14px;
    text-align: center; 
    margin-top: 10px;
}
